*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}
body {
  max-width: 700px;
  border: 1px solid black;
  margin-left: 35%;
  margin-top: 2%;
}

.header {
  display: flex;
  background-color: rgba(103, 34, 128, 1);
  padding: 20px;
  color: white;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  max-width: 700px;
}
.header img {
  max-width: 31px;
  max-height: 26px;
  margin-right: 10px;
}
.meme {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
.meme div {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.meme div input, .meme button {
  padding: 14px 110px 14px 5px ;
  border: 1px solid grey;
  border-radius: 8px;

}

.meme button {
  background-color: rgba(113, 31, 141, 1) ;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 17px;
}

.memeImage {
  max-width: 500px;
}
.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}